<template>
  <v-layout
    column
    justify-center
    align-center
    :class="banner.class"
    class="pl-3 pr-3">
      <AppHeading :level="banner.headline.level" :heading="banner.headline.heading" class="text__headline centered pb-3" />
      <v-btn large outline v-if="banner.button" :color="banner.button.color" :to="banner.button.url" nuxt>{{ banner.button.content }}</v-btn>
      <p v-if="banner.text" v-html="banner.text"></p>
  </v-layout>
</template>


<script>
  import AppHeading from "~/components/AppHeading.vue";

  export default {
    name: 'AppBanner',
    components: {
      AppHeading
    },
    props: {
      banner: {
        type: Object,
        required: true
      }
    }
  };
</script>

<style>
  .banner {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .banner.white {
    background: #FFF;
  }
  .banner.secondary {
    color: #FFF;
  }
  .button {
    margin-top: var(--basic-padding);
  }
  .banner .v-btn.v-btn--outline:hover {
    background: #FFF !important;
    color: var(--v-secondary-base) !important;
  }
</style>
