<template>
    <v-footer height="auto" :class="{'xs': $vuetify.breakpoint.xs, 'sm': $vuetify.breakpoint.sm , 'md': $vuetify.breakpoint.md}">
      <div class="v-footer__content pt-4 pb-5 pl-1 pr-1">
        <v-layout wrap>
          <v-flex xs6 sm3 md2 order-xs1 order-sm1>
            <ul class="white--text pb-3">
              <li class="pb-1"><b>Hostwriter</b></li>
              <li class="pb-1" v-for="link in links" :key="link.id">
                <a v-if="link.target" class="gray" :href="link.link" :target="link.target">{{ link.text }}</a>
                <nuxt-link v-else class="gray" :to="link.link">{{ link.text }}</nuxt-link>
              </li>
            </ul>
          </v-flex>
          <v-flex xs6 sm3 md2 order-xs3 order-sm2>
            <ul class="white--text pb-3">
              <li class="pb-1"><b>Service</b></li>
              <li class="pb-1" v-for="link in serviceLinks" :key="link.id">
                <a v-if="link.target" class="gray" :href="link.link" :target="link.target">{{ link.text }}</a>
                <nuxt-link v-else class="gray" :to="link.link">{{ link.text }}</nuxt-link>
              </li>
            </ul>
          </v-flex>
          <v-flex xs6 sm3 md2 order-xs4 order-sm3>
            <ul class="white--text pb-3">
              <li class="pb-1"><b>Find Us On</b></li>
              <li class="pb-1" v-for="link in socialLinks" :key="link.id">
                <a v-if="link.target" class="gray" :href="link.link" :target="link.target">{{ link.text }}</a>
                <nuxt-link v-else class="gray" :to="link.link">{{ link.text }}</nuxt-link>
              </li>
            </ul>
          </v-flex>
          <v-flex class="copyright" xs6 sm3 md6 text-xs-right order-xs2 order-sm4>
            <div class="pb-3 pr-4">
              <img src="/hostwriter-logo-white.svg" alt="Home">
              <p class="body-1 gray mb-0">&copy; {{ new Date().getFullYear() }} Hostwriter gUG</p>
            </div>
          </v-flex>
        </v-layout>
      </div>
    </v-footer>
</template>

<script>
  export default {
    data() {
      return {
        fixed: false,
        links: [
          {
            text: 'About',
            link: 'https://hostwriter.org/about',
            target: '_blank'
          },
          {
            text: 'Hostwire',
            link: 'https://hostwire.org',
            target: '_blank'
          },
          {
            text: 'Blog',
            link: 'https://blog.hostwriter.org',
            target: '_blank'
          },
          {
            text: 'Ambassadors',
            link: 'https://ambassador.hostwriter.org',
            target: '_blank'
          },
          {
            text: 'Funding',
            link: 'https://hostwriter.org/funding',
            target: '_blank'
          }
        ],
        serviceLinks: [
          {
            text: 'Contact',
            link: 'https://hostwriter.org/contact',
            target: '_blank'
          },
          {
            text: 'Data Protection',
            link: 'https://hostwriter.org/data-protection',
            target: '_blank'
          },
          {
            text: 'Terms Of Use',
            link: 'https://hostwriter.org/terms-of-use',
            target: '_blank'
          },
          {
            text: 'Imprint',
            link: 'https://hostwriter.org/content/imprint',
            target: '_blank'
          }
        ],
        socialLinks: [
          {
            text: 'Twitter',
            link: 'https://twitter.com/hostwriter',
            target: '_blank'
          },
          {
            text: 'Facebook',
            link: 'https://www.facebook.com/hostwriter.org',
            target: '_blank'
          },
          {
            text: 'Instagram',
            link: 'https://www.instagram.com/hostwriter_/',
            target: '_blank'
          },
          {
            text: 'LinkedIn',
            link: 'https://blog.hostwriter.org/',
            target: '_blank'
          },
          {
            text: 'Medium',
            link: 'https://medium.com/hostwriter',
            target: '_blank'
          }
        ]
      }
    }
  }
</script>

<style scoped>
  .v-footer {
    background: var(--v-primary-base);
  }
  .v-footer .v-footer__content {
    max-width: 1185px;
    width: 100%;
    margin: 0 auto;
  }
  .v-footer ul  {
    list-style: none;
  }
  .v-footer ul li a {
    text-decoration: none;
  }
  .nuxt-link-active {
    color: var(--v-secondary-base)
  }

</style>
