<template>
  <header>
    <v-toolbar
      :absolute="theme === 'dark' ? true : false"
      :dark="!isDark"
      height="40px"
      class="pt-3 pb-3"
      :clipped-right="clipped"
      color="transparent"
      flat
    >
      <nuxt-link to="/">
        <img v-if="theme === 'dark'" class="pt-1"   src="/hostwriter-logo-white.svg" alt="Home">
        <img v-else   class="pt-1" src="/hostwriter-logo.svg" alt="Home">
      </nuxt-link>

      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-xs-only">
        <v-btn flat depressed><nuxt-link :class="{ 'white--text': theme == 'dark' }" to="/">Ambassador Network</nuxt-link></v-btn>
        <v-btn flat><nuxt-link :class="{ 'white--text': theme == 'dark' }" to="/agreement">Agreement</nuxt-link></v-btn>
        <v-btn flat icon class="ml-3 mr-0" block>
          <a href="https://www.linkedin.com/company/hostwriter" target="_blank"><v-icon color="info">mdi-linkedin-box</v-icon></a>
        </v-btn>
        <v-btn flat icon class="ml-2 mr-0" block>
          <a href="https://twitter.com/hostwriter" target="_blank"><v-icon color="info">mdi-twitter-box</v-icon></a>
        </v-btn>
        <v-btn flat icon class="ml-2 mr-0" block>
          <a href="https://www.facebook.com/hostwriter.org" target="_blank"><v-icon color="info">mdi-facebook-box</v-icon></a>
        </v-btn>
        <v-btn outline floating class="login ml-4"><nuxt-link :class="{ 'white--text': theme == 'dark' }" to="/agreement#apply">Apply Now!</nuxt-link></v-btn>
      </v-toolbar-items>


      <v-btn class="hidden-sm-and-up" icon @click.stop="rightDrawer = !rightDrawer" >
        <v-icon>menu</v-icon>
      </v-btn>
    </v-toolbar>

    <v-navigation-drawer
      :right="right"
      v-model="rightDrawer"
      temporary
      fixed
    >
      <v-list>
        <v-list-tile
          v-for="(item, i) in items"
          :to="item.to"
          :key="i"
          router
          exact
        >
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title" />
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
  </header>
</template>


<script>
  export default {
    props: {
      theme: {
        type: String,
        default: ''
      }
    },
    data() {
      return {
        clipped: true,
        drawer: true,
        fixed: false,
        items: [
          { title: 'Ambassador Network', to: '/' },
          { title: 'Agreement', to: '/agreement' },
          { title: 'Apply now', to: '/agreement#apply' }
        ],
        miniVariant: true,
        right: true,
        rightDrawer: false,
        isDark: this.theme === 'dark' ? false : true,
        isLoggedIn: false
      }
    },
    getClass: function() {
        return this.theme === 'dark' ? 'white--text' : false;
    }
  }
</script>

<style>
  .v-toolbar {
    background-color: #FFF !important;
    max-width: 1185px;
    margin: 0 auto;
  }
  .v-toolbar .v-btn__content a {
    text-decoration: none;
  }
  .v-toolbar__content .v-btn {
    min-width: 0;
  }
  .v-toolbar__content .v-btn--active:before,
  .v-toolbar__content .v-btn:hover:before,
  .v-toolbar__content .v-btn:focus:before {
    background-color: transparent;
  }
  .nuxt-link-exact-active {
    color: var(--v-secondary-base) !important;
  }
  .v-navigation-drawer .v-list__tile--active {
    color: var(--v-secondary-base) !important;
  }
  .v-toolbar__items .v-btn.login {
    height: 46px !important;
  }
</style>
