<template>
  <h1 v-if="level === '1'" :class="{'xs': $vuetify.breakpoint.xs, 'sm': $vuetify.breakpoint.sm}">{{heading}}</h1>
  <h2 v-else-if="level === '2'" :class="classes">{{heading}}</h2>
  <h3 v-else-if="level === '3'" :class="classes">{{heading}}</h3>
  <h4 v-else-if="level === '4'" :class="classes">{{heading}}</h4>
  <h5 v-else-if="level === '5'" :class="classes">{{heading}}</h5>
</template>

<script>
/* @ToDo
*  improvement: concat 'h'+level, see https://vuejs.org/v2/guide/render-function.html
*/
  export default {
    name: 'AppHeading',
    props: {
      classes: {
        default: ''
      },
      heading: {
        type: String,
        default: 'This is the default header example'
      },
      level: String
    }
  };
</script>

<style>
  h1 {
    font-family: 'Adelle';
    font-size: 68px;
    line-height: 72px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
  }
  h1.xs {
    font-size: 46px;
    line-height: 60px;
  }
  h1.sm {
    font-size: 46px;
    line-height: 60px;
  }

  h2 {
    font-family: 'Adelle';
    font-weight: bold;
    font-size: 46px;
    line-height: 60px;
  }

  h3 {
    font-family: 'Adelle';
    font-size: 30px;
    line-height: 42px;
    font-weight: bold;
  }

  h4 {
    font-family: 'Adelle';
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
  }

  h5 {
    font-family: 'AdelleSans';
    font-size: 18px;
    line-height: 28px;
    font-weight: bold
  }

  .centered {
    text-align: center;
  }

</style>
