<template>
    <div class="hero">
      <img src="~/assets/images/header-bg-2018-3.jpg" alt="">
      <div class="wrapper">
        <div class="meta">
          <div>
              <AppHeading :level="headline.level" :heading="headline.heading" class="text__headline white--text" />
              <v-btn :color="button.color" :href="button.url">{{ button.content }}</v-btn>
          </div>
        </div>
        <div class="subline" v-html="caption" :class="{'xs': $vuetify.breakpoint.xs, 'md': $vuetify.breakpoint.md}"></div>
      </div>
    </div>
</template>

<script>
import AppHeading from "~/components/AppHeading.vue";


export default {
  name: 'AppHero',
  components: {
    AppHeading,
  },
  data () {
    return {
      caption: "Gold miner Jezahel Tiranzi in the province of Manica, Mozambique. Credit: <a class='text--secondary' href='https://hostwriter.org'> Hostwriter member Nathalie Bertrams</a>",
      headline: {
        level: "1",
        heading: "Collaborate with journalists worldwide"
      },
      button: {
        content: "Join us",
        url: "https://hostwriter/user/register",
        type: "button",
        classes: [
          "button button-accent"
        ],
        color: "secondary"
      }
    }
  }
};
</script>

<style scoped>
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .hero {
    height: 100vh;
    min-height: 400px;
    margin-bottom: 0;
    position: relative;
  }
  h1 {
    max-width: 700px;
    padding-bottom: 20px;
  }
  button {
    margin-top: var(--small-horizontal-spacing);
  }
  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .meta {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 1140px;
    text-align: center;
    margin: 0 auto;
  }
  .subline {
    position: absolute;
    color: #FFF;
    bottom: 20px;
    width: 100%;
    text-align: center;
    padding: 0 10px;
  }
  .subline.xs {
    font-size: 12px;
    line-height: 18px;
  }
  .subline.sm {
    font-size: 14px;
    line-height: 18px;
  }

</style>
