<template>
  <v-layout row wrap justify-center>
      <v-flex v-for="company in logos" :key="company.id" xs6 sm4 md3>
        <v-hover :disabled="!hover">
          <v-card slot-scope="{ hover }" flat class="pt-2" height="100%" :href="company.link" target="_blank">
            <v-img v-if="hover" :src="company.hoverimg" class="ma-2" contain />
            <v-img v-else :src="company.img" class="ma-2" contain />
          </v-card>
        </v-hover>
      </v-flex>
    </v-layout>
</template>

<script>
  import AppHeading from "~/components/AppHeading";

  export default {
    components: {
      AppHeading
    },
    props: {
      logos: {
        type: Array,
        required: true
      },
      hover: {
        type: Boolean,
        default: false
      }
    }
  };
</script>
