@import "~/assets/css/base.css";
@import '~vuetify/src/stylus/theme.styl'

$material-light.background= #fff;
$material-light.text.primary= #00005a;
$material-light.text.secondary= #fe5621;
$body-font-family = 'AdelleSans';
$heading-font-family = 'Adelle';
$button-text-transform := none;
$button-font-size := 16px;
$headings := {
  h1: { size: 112px, weight: 300, line-height: 1, letter-spacing: -.04em, font-family: $heading-font-family },
  h2: { size: 56px, weight: 400, line-height: 1.35, letter-spacing: -.02em, font-family: $heading-font-family },
  h3: { size: 45px, weight: 400, line-height: 48px, letter-spacing: normal, font-family: $heading-font-family },
  h4: { size: 34px, weight: 400, line-height: 40px, letter-spacing: normal, font-family: $heading-font-family },
  h5: { size: 24px, weight: 400, line-height: 32px, letter-spacing: normal, font-family: $heading-font-family },
  h6: { size: 20px, weight: 500, line-height: 1, letter-spacing: .02em, font-family: $heading-font-family },
  subheading: { size: 16px, weight: 400 },
  body-2: { size: 14px, weight: 500 },
  body-1: { size: 14px, weight: 400 },
  caption: { size: 12px, weight: 400 },
  button: { size: 14px, weight: 500, font-family: $body-font-family }
};

// original:
//   xs: 0 /// < 600px
//   sm: 600px /// 600px > < 960px
//   md: 960px  /// 960px > < 1264*
//   lg: (1280px - 16px) /// 1264 > < 1904px*
//   xl: (1920px - 16px) /// > 1904px*  
//   * -16px on Desktop

$grid-breakpoints := {
  xs: 0
  sm: 480px
  md: 830px
  lg: (1024px - 16px) // Desktop gets a 16dp reduction
  xl: (1200px - 16px) // https://material.io/guidelines/layout/responsive-ui.html#responsive-ui-breakpoints
}
$container-max-widths := {
  lg: $grid-breakpoints.xl
  xl: $grid-breakpoints.xl
}

// Overwrite with custom vars
@import './_variables.styl'

// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'


/** Custom Buttons */
.v-btn
  &.v-btn--outline
    border: 2px solid currentColor
