<template>
  <v-container grid-list-xl background>

    <section class="about pt-3 pb-5">
      <v-layout row wrap v-scroll="onScroll">
        <v-flex xs12 md8 sm7>
          <div class="agree-wrapper">
            <AppHeading :level="headline1.level" :heading="headline1.heading" class="text__headline mb-4" />
            <p class="intro">We are excited to invite you to become an ambassador for Hostwriter. Become part of a new approach to journalism – one that stresses collaboration instead of competition.</p>
            <p class="intro">Help us make cross-border journalism truly diverse, global and accessible!</p>

            <AppHeading :level="headline2.level" :heading="headline2.heading" class="text__headline pt-5 mb-4" />
            <ul class="intro--extras">
              <li>Support from a network of like-minded members, invitations to networking opportunities specifically for ambassadors, and increased visibility as we showcase your journalistic knowledge and expertise.</li>
              <li>Resources, tools and training materials for cross-border journalism methods, including materials you can share from Hostwriter.</li>
              <li>The ability to use our name in conference panel proposals and resources for presentations at conferences where you represent Hostwriter.</li>
              <li>A say in how Hostwriter develops as an organization.</li>
              <li>Respect for your time limits as a working journalist.</li>
            </ul>

            <AppHeading :level="headline3.level" :heading="headline3.heading" class="text__headline pt-5 mb-4" />
            <ul class="intro--extras">
              <li>Be our eyes and ears on the ground by serving as a gateway to not just share our information with others in your area, but also to let us know about the special needs of journalists in your region.</li>
              <li>Help us grow the Hostwriter network by sharing our mission and promoting Hostwriter on social media.</li>
              <li>Help us improve the network by sharing your feedback.</li>
              <li>Introduce us to affiliates and organizations who share our mission.</li>
              <li>Represent Hostwriter at events in your region.</li>
            </ul>
           </div>
        </v-flex>
        <v-flex xs12 md4 sm5>
          <div id="scroller" class="group-image">
            <v-card flat hover height="100%" max-width="400" class="text-xs-center pt-3">
                <v-card-text>
                  <div class="group-image--header">
                    <AppHeading level="3" heading="It's a Deal!" class="section-headline pt-3 mb-3" />
                  </div>
                  <ul class="list--checkmark text-xs-left pl-4 pr-3 pt-4 pb-4">
                    <li>I share excitement for cross-border journalism.</li>
                    <li>I want to help spread Hostwriter’s mission to other journalists in my region.</li>
                    <li>I am happy to join the network and be a representative of Hostwriter.</li>
                  </ul>
                  <v-card-actions class="pa-0">
                    <v-btn color="accent" href="#apply" large block>It's a Deal</v-btn>
                  </v-card-actions>
                </v-card-text>
              </v-card>
          </div>
        </v-flex>
      </v-layout>
    </section>

    <section class="apply">
      <v-flex xs12 sm7 md6>
        <AppHeading :level="headline4.level" :heading="headline4.heading" id="apply" class="text__headline mb-4" />
        <p v-if="isSent==true" class="intro pb-5">Tina, the Head of Ambassador Program, will get in touch with you within a working day.</p>
        <v-form @submit.prevent="submit" v-model="valid" v-if="isSent==false">
          <v-text-field
              v-model="message.firstname"
              :rules="firstnameRules"
              label="First Name"
              required
              background-color="#FFF"
              box
          ></v-text-field>
          <v-text-field
              v-model="message.lastname"
              :rules="lastnameRules"
              label="Last Name"
              required
              background-color="#FFF"
              box
          ></v-text-field>
          <v-text-field
              v-model="message.profileUrl"
              :rules="profileUrlRules"
              label="Hostwriter Profile (URL)"
              required
              background-color="#FFF"
              box
          ></v-text-field>
          <v-textarea
              v-model="message.application"
              :rules="applicationRules"
              label="Why would you like to become a Hostwriter ambassador?"
              required
              background-color="#FFF"
              box
              rows="8"
            ></v-textarea>
          <v-btn type="submit" class="ml-0" color="secondary" :disabled="!valid">Submit</v-btn>
        </v-form>
      </v-flex>
    </section>

  </v-container>
</template>


<script>
import AppHeading from "~/components/AppHeading";

export default {
  components: {
    AppHeading
  },
  data () {
    return {
      offsetTop: 0,
      isSending: false,
      isSent: false,
      valid: false,
      message: {
        firstname: '',
        lastname: '',
        profileUrl: '',
        application: '',
		  },
      firstnameRules: [
        v => !!v || 'First Name is required',
      ],
      lastnameRules: [
        v => !!v || 'Last Name is required',
      ],
      profileUrlRules: [
        v => !!v || 'Please enter a valid url to your hostwriter profile',
      ],
      applicationRules: [
        v => !!v || 'This field is required',
      ],
      headline1: {
        level: "2",
        heading: "Join the community of Hostwriter Ambassadors!"
      },
      headline2: {
        level: "3",
        heading: "What You Can Expect from Us"
      },
      headline3: {
        level: "3",
        heading: "How You Can Contribute as an Ambassador"
      },
      headline4: {
        level: "3",
        heading: "Sounds like a good fit? Then apply now to become an Ambassador:"
      },
    }
  },
  methods: {
    onScroll (e) {
      this.offsetTop = window.pageYOffset || document.documentElement.scrollTop;
      var scrollBox = document.getElementById('scroller');
      this.offsetTop >= 100 ? scrollBox.classList.add("sticky") : scrollBox.classList.remove("sticky");
    },
    submit() {
      let url = "https://ambassadors.hostwriter.org/app.php";
      this.isSending = true;

      this.$axios.$post(url, {
        data: {
          firstname: this.message.firstname,
          lastname: this.message.lastname,
          profileUrl: this.message.profileUrl,
          application: this.message.application
        },
        headers: {
          "Content-Type": "application/x-www-form-urlencoded"
        }
      })
      .then(result => {
        this.headline4.heading = "Thank you for your interest in the Hostwriter Ambassador program!";
			 	this.isSending = false;
        this.isSent = true;
      }).
      catch(e => {
        console.log(e)
      });
    }
  }
};
</script>

<style scoped>
  .v-responsive.v-image {
    margin: 0 auto;
  }
  .v-responsive.v-image.no-spacing {
    margin-left: -24px;
    margin-right: -24px;
  }
  .group-image {
    width: 100%;
    z-index: 9999;
  }
  @media (min-width: 768px) {
    .sticky {
      position: fixed;
      top: 0;
      width: 370px;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .sticky {
      width: 330px;
    }
  }
  .v-card__text {
    padding: 0;
    width: 100%;
  }
  .v-btn--block {
    border-radius: 0;
  }
  .agree-wrapper {
    width: 85%;
  }
  .apply {
    margin-bottom: 120px;
  }
  ul.intro--extras {
    list-style: none;
  }
  ul.intro--extras li {
    margin-bottom: 20px;
  }
  ul.intro--extras li::before {
    content: "\2022";
    color: var(--v-secondary-base);
    font-weight: bold;
    display: inline-block;
    width: 1.5em;
    margin-left: -1.5em;
  }
  .group-image--header {
    background: url(~assets/images/icons/thumbup.png) left top no-repeat;
    position: relative;
    height: 128px;
  }
  .group-image--header .section-headline {
    position: absolute;
    top: 26px;
  }
  .group-image .list--checkmark li {
    padding-left: 30px;
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    /* Retina-specific stuff */
    .group-image--header {
      background: url(~assets/images/icons/thumbup@2x.png) left top no-repeat;
      background-size: 142px 127px;
  }
}

</style>
