<template>
 <div class="wrapper">
    <v-container fluid class="pa-0">

      <v-layout
        column
        justify-center
        align-center>

        <section class="hero-wrapper text-xs-center pb-5">
          <div class="bg-plus hidden-sm-and-down"></div>

          <v-container grid-list-xl class="text-xs-center mb-4">
            <v-layout row justify-center>
              <v-flex xs12 md10 lg10>
                <AppHeading :level="headline0.level" :heading="headline0.heading" class="primary--text mb-3" />
                <p class="primary--text pt-3">Hostwriter is an open network that helps journalists to easily collaborate across borders. Our Ambassador Network consists of enthusiastic supporters of cross-border journalism who act as local Hostwriter representatives in their country or area of expertise.</p>
                <p class="primary--text pt-3 pb-5 mb-5"><a href="https://blog.hostwriter.org/from-visas-to-vodcasts-hostwriters-first-ambassador-summit/" target="_blank">Read</a> about our most recent Ambassador Summit in Warsaw, Poland</p>
              </v-flex>
            </v-layout>

            <v-layout align-center column justify-center class="pa-0">
              <v-card flat hover height="100%" max-width="400" class="text-xs-center pa-4">
                <v-card-text>
                  <AppHeading level="3" heading="What Do Hostwriter Ambassadors Do?" class="section-headline pt-3 mb-3" />

                  <ul class="list--checkmark text-xs-left pl-4 pt-4 mt-2">
                    <li>Act as our eyes and ears in their region</li>
                    <li>Help us spark enthusiasm for cross-border journalism</li>
                    <li>Attend our ambassador summits to network with other like-minded journalists from all over the world</li>
                    <li>Help shape how Hostwriter develops as an organization</li>
                  </ul>
                </v-card-text>
              </v-card>
            </v-layout>
          </v-container>
        </section>

        <section class="banner-wrapper">
          <AppBanner v-bind:banner="banner" />
        </section>

        <section class="map-wrapper">
          <!-- <div id="map"></div> -->
          <div class="map-overlay" onClick="style.pointerEvents='none'"></div>
          <iframe src="https://www.google.com/maps/d/embed?mid=1RfPUZgxibQyJRIu7eVvFvzREXHufEUnw" width="100%" height="480"></iframe>
        </section>

        <section class="ambassadors-wrapper pt-4 pb-5">
          <v-container grid-list-xl class="text-xs-center">
            <AppHeading :level="headline1.level" :heading="headline1.heading" class="text__headline centered mt-5 mb-4" />
            <Ambassadors v-bind:ambassadors="ambassadors" />
          </v-container>
        </section>

        <section class="faq-wrapper pt-4 pb-5 mb-4">
          <v-container grid-list-xl class="text-xs-center">
            <AppHeading :level="headline2.level" :heading="headline2.heading" class="text__headline centered ma-4" />
            <AppFaq v-bind:faqs="faqs" />
          </v-container>
        </section>

      </v-layout>
     </v-container>
   </div>
</template>

<script>
import AppHeading from "~/components/AppHeading";
import AppBanner from "~/components/AppBanner";
import Ambassadors from "~/components/content/Ambassadors";
import AppFaq from "~/components/AppFaq";

export default {
  components: {
    AppHeading,
    AppBanner,
    Ambassadors,
    AppFaq
  },
  data() {
    return {
      banner: {
        class: "banner secondary",
        headline: {
          level: "2",
          heading: "Would you like to become an ambassador?"
        },
        button: {
          url: '/agreement',
          content: 'Apply now',
          color: "white"
        }
      },
      headline0: {
        level: "1",
        heading: "The Hostwriter Ambassador Network"
      },
      headline1: {
        level: "1",
        heading: "Our Ambassadors"
      },
      headline2: {
        level: "1",
        heading: "Frequently Asked Questions"
      },
      faqs: [
        {
          title: "There is already an ambassador from my country - can I still apply?",
          text: "Yes- you can still apply even if there is another ambassador in your country. Hostwriter aims to have the widest possible representation for our network - that means we welcome applications from different regions within a country, or from people who have a different expertise.",
        },
        {
          title: "How long will I be an ambassador for?",
          text: "We will touch base with you on a yearly basis to renew the commitment. If you change field or are unable to actively participate for any reason, we can agree to bring your tenure to a close.",
        },
        {
          title: "I just joined Hostwriter, can I immediately apply to be an ambassador?",
          text: "Any cross-border journalism enthusiast can apply to be an ambassador, but we prefer members who have used and benefitted from the Hostwriter network and have a feel for how we tick.",
        },
        {
          title: "I don’t speak English, can I still apply to be an ambassador?",
          text: "Expertise in English is not required to become an ambassador. However, the working language for communication and events is English, so it’s not a good fit for someone who cannot speak any English. (We hope to have other opportunities and events in different languages, however.) ",
        },
        {
          title: "How much of a time commitment is it to be an ambassador?",
          text: "We understand that our members are busy working journalists, and we respect that. We expect participation that adds up to less than a few hours a month, for instance, helping us spread the word on social media, discussing changes with your fellow ambassadors via email, etc. We will also invite all our ambassadors to connect at a yearly summit.",
        }
      ],
      ambassadors: [
        {
          name: "Ákos Keller-Alánt",
          location: "Budapest, Hungary",
          img: require("~/assets/images/ambassadors/akos-keller-alant.jpg"),
          text: "Ákos is an investigative journalist who currently writes for the weekly political magazine Magyar Narancs, specializing in internal affairs and economics."
        },
         {
          name: "Wafaa al-Badry",
          location: "Cairo, Egypt",
          img: require("~/assets/images/ambassadors/wafaa-albadry.jpg"),
          text: "Wafaa is a journalist, writer and broadcaster working for Deutsche Welle in Berlin. Originally from Egypt, she reports on news, political culture, women’s issues and lifestyle."
        },
        {
          name: "Mercy Abang",
          location: "Abuja, Nigeria",
          img: require("~/assets/images/ambassadors/mercy-abang2.jpg"),
          text: "Mercy is a journalist focused on under- or never-reported stories mainly ignored by mainstream media. For this work, she received the 2017 award as Woman of the Year in Journalism."
        },
        {
          name: "Daniel Bates",
          location: "New York, United States",
          img: require("~/assets/images/ambassadors/daniel-bates.jpg"),
          text: "Daniel is a freelance journalist and foreign correspondent who is based in New York."
        },
        {
          name: "Mariana Delgado Barón",
          location: "Bogota, Colombia",
          img: require("~/assets/images/ambassadors/mariana-delgado-baron.jpg"),
          text: "Mariana is a journalist with a PhD in sociology who's spent the last decade studying the conflict in Colombia and peace-building practices, with an emphasis on reporting about the victims."
        },
        {
          name: "Mohammad Bassiki",
          location: "Paris, France",
          img: require("~/assets/images/ambassadors/mohammad-bassiki2.jpg"),
          text: "Mohammad has 10 years of experience in journalism and investigation. He's the founder of the Syrian Investigations Unit - SIRAJ, the first investigative reporting network in Syria."
        },
        {
          name: "Khemaies Ben Braiek",
          location: "Tunis, Tunisia",
          img: require("~/assets/images/ambassadors/khemaies-benbraiek.jpg"),
          text: 'Khemaies is a Tunisian freelance journalist. He has worked as a correspondent for Aljazeera.net in Tunisia since 2006.'
        },
        {
          name: "Laurie Bley",
          location: "Durham, North Carolina, USA",
          img: require("~/assets/images/ambassadors/laurie-bley.jpg"),
          text: 'Laurie has been working with journalists from around the globe for two decades. She currently serves as the executive director of Duke University’s Menell Media Exchange.'
        },
        {
          name: "Piotr Drabik",
          location: "Warsaw, Poland",
          img: require("~/assets/images/ambassadors/piotr-drabik2.jpg"),
          text: 'Piotr is a journalist working with Radio ZET News. He has reported on important events in Poland, including the NATO Summit in Warsaw (2016), World Youth Days in Cracow (2016) and UEFA Euro 2012.'
        },
        {
          name: "Atokhon Ganiev",
          location: "Isfara, Tajikistan",
          img: require("~/assets/images/ambassadors/atokhon-ganiev.jpg"),
          text: "Atokhon is a Tajik independent journalist and civil activist. He writes on the topic of corruption, gender issues, ecology and transnational problems."
        },
        {
          name: "Esther Nakkazi",
          location: "Kampala, Uganda",
          img: require("~/assets/images/ambassadors/esther-nakkazi.jpg"),
          text: "Esther is a freelance science and technology reporter and media trainer. She's worked for over a decade as a medical reporter at The East African weekly and contributes to international publications."
        },
        {
          name: "Henrique Kugler",
          location: "Oslo, Norway",
          img: require("~/assets/images/ambassadors/henrique-kugler.jpg"),
          text: "Henrique works as a freelance science writer focusing on environmental pollution, air quality, agriculture, agroecology and organic farming, as well as humanities and development issues."
        },
        {
          name: "Hend Kortam",
          location: "Cairo, Egypt",
          img: require("~/assets/images/ambassadors/hend-kortam.jpg"),
          text: "Hend is an Egyptian journalist working out of Cairo. She covered the 2011 political momentum that has swept the region, focusing on Egypt, but also writing about other countries in the Middle East."
        },
        {
          name: "Sandro Mattioli",
          location: "Berlin, Germany",
          img: require("~/assets/images/ambassadors/sandro-mattioli.jpg"),
          text: 'Sandro is a journalist with expertise on the subject of the Mafia. He reports on Mafia organizations for major magazines and television programs, giving lectures and filming documentaries.'
        },
        {
          name: "Juliane Metzker",
          location: "Berlin, Germany",
          img: require("~/assets/images/ambassadors/juliane-metzker2.jpg"),
          text: "Juliane works as an editor with Perspective Daily – the first all constructive online magazine in Germany. Her stories report on the people and politics of the Middle East and on migration."
        },
        {
          name: "Hui Ning",
          location: "Bruxelles, Belgium",
          img: require("~/assets/images/ambassadors/hui-ning2.jpg"),
          text: "Lulu is a senior international news journalist for The Initium Media, a Chinese media company headquartered in Hong Kong, which has won multiple awards for its in-depth reporting."
        },
        {
          name: "Priscila Pacheco",
          location: "São Paulo, Brazil",
          img: require("~/assets/images/ambassadors/priscila-pacheco.jpg"),
          text: 'Priscila is a reporter and editor at Agência Mural de Jornalismo das Periferias. She focuses on data journalism and is expert in using the law to access public data and information in Brazil.'
        },
        {
          name: "Randrianarisoa Riana Raymonde",
          location: "Ambohidratrimo, Madagascar",
          img: require("~/assets/images/ambassadors/riana-raymonde-randrianarisoa.jpg"),
          text: "Riana has 18 years of investigative and cross-border journalism experience. She's the owner/founder of Mada24.net, and is currently General Secretary of Madagascar's network of investigative journalists."
        },
        {
          name: "Sudabeh Rakhsh",
          location: "Tehran, Iran",
          img: require("~/assets/images/ambassadors/sudabeh-rakhsh2.jpg"),
          text: "Sudabeh is a translator and a journalist working for Shargh Daily, one of the most popular reformist newspapers in Iran. She works at the paper's international affairs desk."
        },
        {
          name: "Purple Romero",
          location: "Manila, Philippines",
          img: require("~/assets/images/ambassadors/purple-romero.jpg"),
          text: "Purple is a multimedia journalist reporting on the justice system, climate and human rights issues and ASEAN. She did the research for two bestselling books on the Philippine Supreme Court."
        },
        {
          name: "Tobias Sauer",
          location: "Berlin, Germany",
          img: require("~/assets/images/ambassadors/tobias-sauer.jpg"),
          text: "Tobias is editor-in-chief of Spartacus Traveler, Europe’s biggest LGBT travel magazine. He also regularly works on stories with a historical touch for magazines or background sections of newspapers."
        },
         {
          name: "Ali Shehab",
          location: "Beirut, Lebanon",
          img: require("~/assets/images/ambassadors/ali-shehab2.jpg"),
          text: "Ali is best known for writing political analysis and satire. Many of his writings have gone viral on international and Pan-Arab newspapers and websites. He also works in documentary film and TV."
        },
        {
          name: "Michael Susin",
          location: "Warsaw, Poland",
          img: require("~/assets/images/ambassadors/michael-susin.jpg"),
          text: "Michael is a freelance journalist specializing in videojournalism and breaking news. He produces multimedia content for news agencies in Europe and Asia, and stories about Poland and its curiosities."
        },
        {
          name: "Aung Naing Soe",
          location: "Yangon, Myanmar",
          img: require("~/assets/images/ambassadors/aung-naing-soe2.jpg"),
          text: "Aung is a multimedia journalist who started working as a fixer for foreign journalists in 2012. He currently covers local politics, culture and religious issues for international publications."
        },
        {
          name: "Michael Stang",
          location: "Cologne, Germany",
          img: require("~/assets/images/ambassadors/michael-stang.jpg"),
          text: "Michael has been working as a science reporter since 2005. The majority of his work is done for different regional and nationwide radio stations in Germany, as well as in Switzerland and Austria."
        },
        {
          name: "Qian Sun",
          location: "Berlin, Germany",
          img: require("~/assets/images/ambassadors/qian-sun2.jpg"),
          text: "Qian works as a freelance journalist for multiple media outlets in China and Europe. She primarily works for Phoenix TV, Hong Kong, as a correspondent covering German and European politics."
        },
        {
          name: "Tabapsi Tagne Timothée Parfait",
          location: "Yaounde, Cameroon",
          img: require("~/assets/images/ambassadors/timothee-parfait-tabapsi-tagne2.jpg"),
          text: "Parfait is a cultural journalist and is the founder and director of «Mosaïques, Arts-Ideas-Africa», the only magazine dedicated to arts and ideas in Cameroon and central Africa."
        },
        {
          name: "Nikolia Apostolou",
          location: "Greece",
          img: require("~/assets/images/ambassadors/nikolia-apostolou.jpg"),
          text: "Nikolia is a multimedia-journalist based in Greece. She's a contributor for AP, USA Today, AlJazeera, The New York Times, and many more publications and has won two grants from the Journalism Fund to work on cross-border projects."
        },
        {
          name: "Ilyas Adam Hasan Muktar",
          location: "Beledweyne, Somalia",
          img: require("~/assets/images/ambassadors/ilyas-adam-hasan-muktar.jpg"),
          text: "Muktar is an ward winning Somali Journalist, member of national union of Somali Journalists (NUSOJ), focusing on Investigative journalism, human rights, conflict and politics in the Horn Afrik Region (Ethiopia, Djibouti, Somalia)."
        },
        {
          name: "Anuradha Sharma",
          location: "Siliguri, India",
          img: require("~/assets/images/ambassadors/anuradha-sharma.jpg"),
          text: "Anuradha is an independent journalist who has previously worked with The Telegraph and The Economic Times. She writes on politics, culture, media and social justice, among other things, and was a Reuters fellow at the University of Oxford."
        },
        {
          name: "Silvia Nortes",
          location: "Murcia, Spain",
          img: require("~/assets/images/ambassadors/silvia-nortes.jpg"),
          text: "Silvia is a Spanish freelance journalist and writer. She has worked for El País, El Español and El Salto, among others. She is now a Spanish correspondent for Index of censorship magazine."
        },
        {
          name: "Alicia Prager",
          location: "Berlin, Germany",
          img: require("~/assets/images/ambassadors/alicia-prager.jpg"),
          text: "Alicia is a freelance journalist from Austria focusing on the intersection between climate, conflict transformation, and economy. "  
        },
        {
          name: "Patrick Egwu",
          location: "Enugu, Nigeria",
          img: require("~/assets/images/ambassadors/patrick-egwu.jpg"),
          text: "Patrick's reporting focus on global health, conflict and development in Nigeria and sub-Saharan Africa. Recently, he was announced as the 2019 Hostwriter Story Prize winner for a cross-border story of Female Genital Mutilation."  
        }
      ],
    }
  }
}
</script>

<style scoped>
.hero-wrapper {
  position: relative;
  width: 100%;
  background: url(~assets/images/backgrounds/hostwriter-bg-map.png) center bottom no-repeat;
}

@media (min-width: 0) and (max-width: 768px) {
  .hero-wrapper {
    background-size: cover;
  }
}

.bg-plus {
  background: url(~assets/images/backgrounds/plus-overlay.png) center top no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  margin-top: 20px;
}
.hero-wrapper .container {
  background: transparent;
  padding-top: 0;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  h1.primary--text {
  margin-top: 70px !important;
  }
}
p.primary--text {
  font-size: 26px;
  line-height: 38px;
}
.hero-wrapper .v-icon:before {
  font-weight: bold;
}
.banner-wrapper {
  width: 100%;
}
.faq-wrapper {
  width: 100%;
  background: #EFEFEF;
}
.map-wrapper {
  width: 100%;
}
/* for gogole map iframe: deactivate pointer events on scroll but not permanently */
.map-overlay {
  background:transparent;
  position:relative;
  width:100%;
  height:480px; /* iframe height */
  top:480px; /* iframe height */
  margin-top:-480px; /* iframe height */
}

/* Set the size of the div element that contains the map */
/* #map {
  height: 400px;
  width: 100%;
} */

</style>
