<template>
    <v-layout row wrap justify-center ml-2 mr-2 class="ambassadors">
      <v-flex v-for="member in ambassadors" :key="member.id" xs12 sm6 md4 lg3>
        <v-card flat hover height="100%" value='0' class="pa-0">
          <v-img :src="member.img"></v-img>
          <v-card-text class="text-xs-left">
            <AppHeading level="4" :heading="member.name" class="text__headline mb-3" />
            <p><v-icon color="accent">mdi-map-marker</v-icon>{{ member.location }}</p>
            <p class="gray"> {{ member.text }}</p>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
</template>

<script>
import AppHeading from "~/components/AppHeading.vue";

export default {
  components: {
    AppHeading
  },
  props: {
    ambassadors: {
      type: Array,
      required: true
    }
  }
};
</script>

<style>
  .ambassadors .v-icon {
    vertical-align: text-top;
    margin-top: -4px;
    padding-right: 4px;
  }
  .ambassadors .v-card__text {
    word-wrap: break-word;
  }
</style>
