<template>
  <v-layout row wrap justify-center>
    <v-flex v-for="feature in features" :key="feature.id" xs12 sm6 md4>
      <v-card flat class="pt-5" height="100%">
        <v-layout align-center column>
          <v-img :src="feature.img" width="160px" class="float-center"></v-img>
          <v-card-title class="justify-center">
            <AppHeading :level="feature.headline.level" :heading="feature.headline.heading" class="text__headline mb-4" />
            <p>{{ feature.text }}</p>
          </v-card-title>
        </v-layout>
      </v-card>
    </v-flex>
  </v-layout>
</template>



<script>
import AppHeading from "~/components/AppHeading.vue";

export default {
  components: {
    AppHeading
  },
  data () {
    return {
      features: [
          {
            headline: {
                level: "3",
                heading: "Advice"
            },
            img: require('~/assets/images/icon-advice-320x320.png'),
            text: "Use the hostwriter network to get help quickly and make contacts in areas and organisations you have no current links to."
          },
          {
            headline: {
                level: "3",
                heading: "Co-authorship"
            },
            img: require('~/assets/images/icon-advice-320x320.png'),
            text: "Search hostwriter to find colleagues to work with across the world, or on your doorstep, with expertise you need and interests you share."
          },
          {
            headline: {
                level: "3",
                heading: "Couch"
            },
            img: require('~/assets/images/icon-advice-320x320.png'),
            text: "Over half of hostwriter's members also offer their couch. Travel more for work and stay with a hostwriter journalist for free."
          },
       ]
    }
  }
};
</script>
