<template>
  <v-layout row wrap justify-center>
    <v-flex v-for="member in people" :key="member.id" xs6 sm4 text-xs-center>
      <v-card flat hover class="pt-5" height="100%">
        <v-layout align-center column>
          <v-img :src="member.img" width="164px" class="float-center"></v-img>
          <v-card-text class="pl-5 pr-5">
            <AppHeading level="4" :heading="member.name" class="text__headline mb-3" />
            <p class="accent--text" v-if="member.subline">{{ member.subline }}</p>
            <p class="gray">{{ member.title}}</p>
          </v-card-text>
        </v-layout>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  import AppHeading from "~/components/AppHeading";

  export default {
    components: {
      AppHeading
    },
    props: {
      people: {
        type: Array,
        required: true
      }
    }
  };
</script>
