<template>
  <v-layout row wrap>
        <v-flex xs12 sm6 v-for="project in projects" :key="project.id">
          <v-card flat color="#f1f3f6" hover>
            <v-card-title primary-title>
              <AppHeading level="5" :heading="project.name" class="text__headline mb-3" />
              <p>{{ project.text }}</p>
            </v-card-title>
            <v-card-actions>
              <v-btn flat>
                <a :href="project.link" color="accent" pl-0 target="_blank">Show more</a>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
</template>

<script>

import AppHeading from "~/components/AppHeading";

  export default {
    components: {
      AppHeading
    },
    data() {
      return {
        projects: [
          {
            name: "The #HostwriterPrize",
            text: "The Hostwriter prize is awarded annually to collaborative journalism pieces as well as promising story pitches submitted by our members.",
            link: "https://hostwriter.org/sites/prize/"
          },
          {
            name: "The Agora Project",
            text: "A temporary European newsroom for journalists collaborating on the biggest challenges facing Europe in times of elections 2017.",
            link: "http://agora.hostwriter.org/"
          },
          {
            name: "Cross-Border Journalism",
            text: "We provide training in cross-border journalism and organize events with partners, e.g. a yearly panel discussion on the occasion of the New York Times Athens Democracy Forum.",
            link: "http://athens.hostwriter.org/"
          },
          {
            name: "Journalists in Exile",
            text: "Hostwriter supports the mentoring program for young German journalists with immigrant backgrounds and exiled journalists by our partner organisation New German Mediamakers.",
            link: "http://blog.hostwriter.org/hostwriter-supports-trainee-programme-for-journalists-in-exile/"
          }
        ]
      }
    }
  };
</script>