<template>
<div> 
  <Timeline 
    :widget-class="`mt-3 my-custom-class`"
    :id="'hostwriter'"
    :sourceType="'profile'" 
    :options="{ 
      tweetLimit: '3',
      width: '600',
      hide_media: true,
      linkColor: '#fe5621'
    }"
    >
      <div class="spinner"></div>

    </Timeline>
  
    </div>
</template>


<script>
import { Timeline } from 'vue-tweet-embed'

export default {
  components: {
    Timeline
  },
  mounted() {
    console.log(window.twttr)
    // console.log(twttr.widgets.load())
  }
}
</script>

<style>
.isRetweet {
  display: none
}
</style>